<header>
  <div class="navbar bg-base-100">
    <!-- P, S, Cを大きく表示 -->
    <a class="text-xl font-bold">
      <span class="text-2xl">P</span>apa
      <span class="text-2xl">S</span>kiru
      <span class="text-2xl">C</span>heck
    </a>
  </div>
</header>
