<h1>診断結果</h1>

<% @posts.each do |t| %>
  <% if t.number.to_i == @result %> <!-- 結果が「はい」の数と一致するものを表示 -->
    <div class="result">
      <h3>あなたは <%= t.content %> です！</h3>
      <img src="<%= t.image %>" alt="<%= t.content %>の画像"> <!-- 画像を表示 -->
      <p><%= t.description %></p> <!-- 詳細な説明を表示 -->
    </div>
  <% end %>
<% end %>
